body {
    background-image: url(Recursos/fondoInicio.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

* {
    font-family: 'Times New Roman', Times, serif;
}

.recu {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 150%;
}